<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link th:href="@{/userStyles/styles.css}" rel="stylesheet"/>

</head>
<body>

<!--<p th:text="${news}"/>-->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img class="img-fluid" th:src="@{/userStyles/icon.jpg}"><br>
        </div>

            <p style="font-style: italic"> Zaufali nam już.. </p>

        <div style="font-weight: bold" >
            <tr th:each="user: ${users}">
                <th th:text="${user.nick}"/><br>
            </tr>
        </div>

            <p style="font-style: italic"> i inni.. </p>

        <div>
            <br>
            <p style="font-style: italic">W sumie jest nas już...</p>
            <p th:text="${allUsers}"/>
            <p style="font-style: italic"> Dołącz i TY ;)  </p>
            <br>
        </div>
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/user/add}">Zarejestruj się!</a><br>
            <a class="underlineHover" th:href="@{/}">Wróć na stronę główną</a>
        </div>

    </div>
</div>

</body>
</html>