<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/formStyles/styles.css}" rel="stylesheet"/>

</head>
<body>
<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="form-group"><h1><center>Dodaj użytkownika!</center></h1></div>

            <form th:object="${user}" method="post">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <span id="userId" style="display: none"></span>

                <div class="form-group">
                    <label for="firstName">Imię</label>
                    <input id="firstName" type="text" class="form-control" th:field="*{firstName}" th:errorClass="error"/>
                    <p class="p-errors"><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/></p>
                </div>
                <div class="form-group">
                    <label for="lastName">Nazwisko</label>
                    <input id="lastName" type="text" class="form-control" th:field="*{lastName}" th:errorClass="error"/>
                    <p class="p-errors"><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/></p>
                </div>
                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input id="nick" type="text" class="form-control" th:field="*{nick}" th:errorClass="error"/>
                    <p class="p-errors"><span th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"/></p>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input id="password" type="password" class="form-control" th:field="*{password}" th:errorClass="error"/>
                    <p class="p-errors"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/></p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" th:field="*{email}" th:errorClass="error"/>
                    <p class="p-errors"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/></p>
                </div>
                <div class="form-group">
                    <label for="newsletter">Zaznacz to pole a przypomnimy Ci o podlewaniu! :)</label>
                    <input id="newsletter" type="checkbox" class="form-control" th:field="*{newsletter}"/>
                </div>
                <center><input id="addButton" type="submit" class="btn btn-primary" value="Zarejestruj się !"/></center><br>
                <center><a th:href="@{/}"><input id="homePage" type="button" class="btn btn-primary" value="Powrót na stronę główną"/></a></center>
            </form>
        </div>
    </div>
</div>

</body>
</html>