<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link th:href="@{/loginStyles/styles.css}" rel="stylesheet"/>

</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img class="img-fluid" src="loginStyles/logout.jpg">
        </div>

        <form th:action="@{/logout}" method="post">

            <br>
            <p style="font-style: italic"> Czy na pewno tego chcesz..? </p>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="Wyloguj się"/>

            <p><a class="underlineHover" th:href="@{/}">A może wróć na stronę główną..</a></p>
            <br>

        </form>

    </div>
</div>

</body>
</html>