<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/formStyles/styles.css}" rel="stylesheet"/>

</head>
<body>

<table class="table">
    <thead class="fruit-nav">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa rośliny</th>
        <th scope="col">Roślina jednoroczna</th>
        <th scope="col">Miesiąc zbioru</th>
        <th scope="col">Opis</th>
        <th scope="col">Poziom trudności</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flower: ${flowers}">
        <th th:text="${flower.id}" />
        <th th:text="${flower.name}" />
        <th th:text="${flower.oneYearFlower}"/>
        <th th:text="${flower.monthToStart}"/>
        <th th:text="${flower.description}"/>
        <th th:text="${flower.level}"/>
        <th th:text="${flower.temperature}"/>
        <td>
            <a class="link-list" th:href="@{/flower/delete/{id}(id=${flower.id})}" onclick="return confirm('Na pewno chcesz usunąć tę roślinę?');">Delete</a>
            <a class="link-list" th:href="@{/flower/update/{id}(id=${flower.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<center><a th:href="@{/flower/add}"><input id="addPage" type="button" class="btn btn-primary" value="Dodaj roślinę"/></a></center><br>
<center><a th:href="@{/}"><input id="homePage" type="button" class="btn btn-primary" value="Powrót na stronę główną"/></a></center>

</body>
</html>